/* https://css-tricks.com/snippets/css/system-font-stack */

/* Define the "system" font family */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

/* Now, let's apply it on an element */
body {
  font-family: "system";
}


/**
 * Global styling
 */

html,
body {
  height: 100%;
}

body {
  margin: 0;
}


/* Components */

.hero {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-body {
  flex-grow: 1;
  flex-shrink: 0;
  padding: 3rem 0;
}


/* Utilities */

.u-align-center {
  text-align: center;
}

.u-ul-reset {
  list-style-type: none;
}

.u-margin-bottom-0 {
  margin-bottom: 0;
}

.u-line-through {
  text-decoration: line-through;
}
